body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: gainsboro;
    font-size: 1rem;
    font-weight: bold;
}

.draw_container {
    display: flex;
    flex-flow: row wrap;
    height: 98vh;
    width: 100vw;
}

#draw_area {
    flex: 5;
}

#options {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#options label {
    text-align: center;
}

#file-input {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#color_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
}

#color_options * {
    margin-bottom: .5rem;
    width: 100%;
}

#save-button, #file-input_label {
    display: inline-block;
    background-color: #666a86;
    color: black;
    font-weight: bold;
    border-radius: .5rem;
    padding: 1rem 2rem;
    transition: .3s;
    cursor: pointer;
}

#save-button:hover, #file-input_label:hover {
    background-color: #d1d2db;
}